In [1]:
import os
import scipy.io as scio
import pandas as pd
import numpy as np
from PIL import Image

In [2]:
DATABASE_FOLDER = '../data/hatdb'
IMAGES_FOLDER = os.path.join(DATABASE_FOLDER, 'images')
ANNOTATION_FILE = os.path.join(DATABASE_FOLDER, 'anno.mat')

In [3]:
annotation_file = scio.loadmat(ANNOTATION_FILE)
annotation_file

{'__globals__': [],
 '__header__': b'MATLAB 5.0 MAT-file, Platform: GLNXA64, Created on: Sat Apr 28 17:46:59 2012',
 '__version__': '1.0',
 'anno': array([[(array([[array(['q0_r10.jpg'], dtype='<U10'),
         array(['q0_r14.jpg'], dtype='<U10'),
         array(['q0_r15.jpg'], dtype='<U10'), ...,
         array(['q328_r46.jpg'], dtype='<U12'),
         array(['q328_r53.jpg'], dtype='<U12'),
         array(['q328_r5.jpg'], dtype='<U11')]], dtype=object), array([[  1,  28,  98, 298,   1],
        [  1,  75, 453, 500,   2],
        [241,  75, 479, 346,   2],
        ...,
        [  1,  15, 303, 348,   2],
        [  1,  51, 351, 375,   2],
        [ 13,  49, 337, 498,   1]], dtype=uint16), array([[1, 0, 1, ..., 1, 0, 0]], dtype=uint8), array([[ 1, -1, -1, ..., -1, -1,  1],
        [-1,  1,  1, ...,  1,  1, -1],
        [ 1, -1, -1, ..., -1, -1,  1],
        ...,
        [-1, -1, -1, ..., -1, -1, -1],
        [-1, -1, -1, ..., -1, -1, -1],
        [-1,  0,  0, ...,  0,  0,  0]], dtype=int16), array([[ 518, 4994, 2851, ..., 3468, 4142, 7991]], dtype=uint16), array([[ 249, 4168, 5021, ..., 6452,  652, 9170]], dtype=uint16), array([[4484, 7865, 3857, ..., 7133, 3598, 4457]], dtype=uint16), array([[array(['female'], dtype='<U6')],
        [array(['frontalpose'], dtype='<U11')],
        [array(['profilepose'], dtype='<U11')],
        [array(['turnedback'], dtype='<U10')],
        [array(['upperbody'], dtype='<U9')],
        [array(['standing'], dtype='<U8')],
        [array(['runwalk'], dtype='<U7')],
        [array(['crouching'], dtype='<U9')],
        [array(['sitting'], dtype='<U7')],
        [array(['armsbent'], dtype='<U8')],
        [array(['elderly'], dtype='<U7')],
        [array(['middleaged'], dtype='<U10')],
        [array(['young'], dtype='<U5')],
        [array(['teen'], dtype='<U4')],
        [array(['kid'], dtype='<U3')],
        [array(['baby'], dtype='<U4')],
        [array(['tanktop'], dtype='<U7')],
        [array(['tshirt'], dtype='<U6')],
        [array(['casualjacket'], dtype='<U12')],
        [array(['mensuit'], dtype='<U7')],
        [array(['longskirt'], dtype='<U9')],
        [array(['shortskirt'], dtype='<U10')],
        [array(['smallshorts'], dtype='<U11')],
        [array(['lowcuttop'], dtype='<U9')],
        [array(['swimsuit'], dtype='<U8')],
        [array(['weddingdress'], dtype='<U12')],
        [array(['bermudashorts'], dtype='<U13')]], dtype=object))]],
       dtype=[('files', 'O'), ('objbbs', 'O'), ('objids', 'O'), ('y', 'O'), ('trainidx', 'O'), ('validx', 'O'), ('testidx', 'O'), ('classes', 'O')])}

In [4]:
# лист файлов картинок базы, каждый элемент которого - массив с 1 элементом
img_files = annotation_file['anno']['files'][0][0][0].tolist()

In [5]:
# лист с bboxes для каждой картинки из базы, каждый элемент которого - лист (важны только первые 4 элемента листа)
bboxes = annotation_file['anno']['objbbs'][0][0].tolist()

In [6]:
# numpy-матрица (array) с 6 метками возраста (построчно - elderly, middleaged, young, teen, kid, baby)
# 1 - присутствие признака, -1 - полное отсутствие, 0 - неопределенность
ages = np.array(annotation_file['anno']['y'][0][0][10:16].tolist())

In [7]:
# лист меток пола
# 1 - Ж, -1 - М, 0 - ?
sexes = annotation_file['anno']['y'][0][0][0].tolist()

In [8]:
CROPPED_FOLDER = os.path.join(DATABASE_FOLDER, 'cropped')
os.mkdir(CROPPED_FOLDER)

In [9]:
marking = pd.DataFrame(columns=['filename', 'width', 'height', 'sex', 'elderly', 'middleaged', 'young', 'teen', 'kid', 'baby'])
marking

Empty DataFrame
Columns: [filename, width, height, sex, elderly, middleaged, young, teen, kid, baby]
Index: []

In [10]:
numb = 0
for i in range(len(img_files)):
    img_file = img_files[i][0]
    img = Image.open(os.path.join(IMAGES_FOLDER, img_file))
    bbox = tuple(bboxes[i][:4])
    cropped_img = img.crop(bbox)
    cropped_imgname = os.path.splitext(img_file)[0] + '_' + str(numb) + '.png'
    cropped_img.save(os.path.join(CROPPED_FOLDER, cropped_imgname))
    width, height = cropped_img.size
    sex = sexes[i]
    age = list(ages[:, i])
    row = [cropped_imgname, width, height, sex]
    row.extend(age)
    marking.loc[len(marking)] = row
    numb += 1

In [11]:
marking.head()

       filename width height sex elderly middleaged young teen kid baby
0  q0_r10_0.png    97    270   1      -1         -1     1   -1  -1   -1
1  q0_r14_1.png   452    425  -1      -1          1    -1   -1  -1   -1
2  q0_r15_2.png   238    271  -1      -1          1    -1   -1  -1   -1
3  q0_r17_3.png   223    271  -1      -1         -1     1    1  -1   -1
4  q0_r17_4.png   243    225  -1      -1          1    -1   -1  -1   -1

In [12]:
marking.to_csv(os.path.join(DATABASE_FOLDER, 'cropped_marking.csv'), index = False)

In [14]:
marking.sort_values(by=['height'])

          filename width height sex elderly middleaged young teen kid baby
1689   q69_r31.jpg    66     73   1      -1         -1    -1    1  -1   -1
3683  q137_r50.jpg    63     75   1      -1         -1     1   -1  -1   -1
6547  q239_r45.jpg    34     76  -1       0          1    -1    0  -1   -1
6053  q227_r12.jpg    67     76   0      -1         -1    -1    1   1   -1
3549  q132_r38.jpg    61     76  -1      -1          1    -1   -1  -1   -1
3483   q97_r50.jpg    33     77  -1       1         -1    -1   -1  -1   -1
5872   q223_r6.jpg    63     78   1      -1         -1    -1    1   1   -1
5191  q190_r28.jpg    62     78   1      -1         -1     1   -1  -1   -1
6111   q229_r4.jpg    62     78  -1      -1         -1     1    1  -1   -1
1051   q46_r17.jpg    63     79   1      -1         -1     1   -1  -1   -1
798    q37_r40.jpg    64     80  -1      -1          1    -1   -1  -1   -1
481    q27_r16.jpg    63     80  -1       0          1    -1   -1  -1   -1
4081  q152_r17.jpg    68     81  -1      -1          1    -1   -1  -1   -1
2386   q100_r8.jpg    69     81   1      -1         -1     1    1  -1   -1
2466  q103_r51.jpg    60     82  -1       1         -1    -1   -1  -1   -1
709    q33_r49.jpg    62     82   1      -1         -1    -1    1   1   -1
4399  q161_r56.jpg    60     82  -1      -1         -1    -1   -1   1   -1
6801   q246_r3.jpg    70     82  -1      -1          1     1   -1  -1   -1
3644  q137_r19.jpg    65     83   1      -1         -1     0   -1  -1   -1
6410  q236_r29.jpg    67     83   1      -1         -1     1    1   1   -1
1735    q70_r6.jpg    69     83  -1      -1          1    -1   -1  -1   -1
5015  q184_r39.jpg    60     83  -1      -1          1     1   -1  -1   -1
8811   q311_r3.jpg    62     83   1      -1          1    -1   -1  -1   -1
7934  q288_r16.jpg    61     83   1      -1          1     1   -1  -1   -1
8706  q307_r51.jpg    32     83   1       0         -1     0    0  -1   -1
2036   q83_r22.jpg    61     83   1      -1          1     1   -1  -1   -1
289    q19_r15.jpg    67     84   1      -1         -1    -1   -1   1   -1
3265   q93_r26.jpg    32     84  -1      -1          1    -1   -1  -1   -1
5020  q184_r56.jpg    35     84   0       0          1     0    0  -1   -1
1747   q71_r13.jpg    36     84  -1       0          0     0    0  -1   -1
...            ...   ...    ...  ..     ...        ...   ...  ...  ..  ...
3304   q94_r50.jpg   215    490  -1       0          1    -1   -1  -1   -1
1325    q7_r24.jpg   210    490   1      -1         -1     1   -1  -1   -1
6834   q247_r0.jpg   359    490  -1      -1         -1     1   -1  -1   -1
377    q23_r48.jpg   314    490  -1      -1         -1    -1   -1   1   -1
2476   q104_r0.jpg   483    490  -1      -1          1    -1   -1  -1   -1
8432  q301_r54.jpg   342    491  -1      -1          1     1   -1  -1   -1
4798  q175_r41.jpg   211    491   1      -1          1    -1   -1  -1   -1
3300   q94_r48.jpg   229    491  -1       0          1    -1   -1  -1   -1
3797  q144_r41.jpg   355    491   0      -1         -1    -1   -1   1   -1
4887  q179_r28.jpg   231    492  -1      -1          1     1   -1  -1   -1
7138  q262_r39.jpg   171    492  -1      -1          1    -1    0  -1   -1
79     q10_r53.jpg   347    492   1      -1         -1    -1    1  -1   -1
7582  q277_r37.jpg   361    493   0      -1         -1    -1   -1  -1    1
6738   q244_r3.jpg   406    493  -1      -1         -1    -1   -1  -1    1
2006    q82_r0.jpg   363    493  -1       0          1    -1   -1  -1   -1
5343  q195_r20.jpg   323    493   0      -1          1    -1   -1   1   -1
4961  q182_r31.jpg   200    493  -1      -1         -1     0    0  -1   -1
4774  q174_r35.jpg   367    494   1       0          1    -1   -1  -1   -1
2246   q57_r22.jpg   350    494  -1      -1          1     1   -1  -1   -1
8806  q311_r29.jpg   332    494   1      -1          1    -1   -1  -1   -1
359    q22_r13.jpg   316    494   0      -1         -1    -1   -1   1   -1
7613  q279_r29.jpg   476    494  -1      -1         -1    -1   -1  -1    1
5081  q187_r23.jpg   209    495  -1      -1          1     1   -1  -1   -1
6134  q229_r20.jpg   374    496   1      -1         -1     1   -1  -1   -1
5537  q204_r24.jpg   169    496   1      -1          0     0    0  -1   -1
284     q18_r7.jpg   356    496  -1      -1          1    -1   -1  -1   -1
7189   q265_r4.jpg   319    497   1      -1         -1    -1   -1   1   -1
1240    q5_r39.jpg   398    497  -1      -1          1    -1   -1  -1   -1
6953   q254_r6.jpg   368    498   0      -1         -1    -1   -1  -1    1
9327  q328_r16.jpg   369    499   1      -1         -1     1   -1  -1   -1

[9344 rows x 10 columns]